/* Signup.css */

body {
  font-family: Arial, sans-serif;
  /* background-color: #0f6ac5; */
  margin: 0;
  padding: 0;
}

form {
  background-color: #ffffff;
  max-width: 400px;
  margin: 80px auto;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(219, 31, 31, 0.1);
  display: flex;
  flex-direction: column;
}

.demo-sign {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:hover {
  border-color: #007bff;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  height: 43px;
}

button:hover {
  background-color: #0056b3;
}

span {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

a {
  margin-left: 5px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}